@import 'google-fonts.css' only screen;

.rule {
  color: red;
}

@media print and (min-width: 50em) {
  font: 400 1em/1.5 sans-serif;
}

@keyframes bounce {
  from {
    color: blue;
  }
  to {
    color: green;
  }
}

@supports (display: grid) {
  display: grid;
}
